# App Environment
NODE_ENV=development
PORT=4000

# ============================================================
# Database Configuration
# ============================================================
DB_ROOT_PASSWORD=rootpassword123
DB_NAME=capstone
DB_PORT_EXTERNAL=3307

# Prisma Connection URL
# Jika jalan lewat Docker  : mysql://root:rootpassword123@mysql:3306/capstone
# Jika jalan lokal (direct): mysql://root:rootpassword123@localhost:3307/capstone
DATABASE_URL=mysql://root:@localhost:3306/capstone

# ============================================================
# JWT Configuration
# ============================================================
JWT_SECRET=secret_key
JWT_ACCESS_EXPIRATION_MINUTES=1440
JWT_REFRESH_EXPIRATION_DAYS=7

# ============================================================
# phpMyAdmin
# ============================================================
PMA_PORT_EXTERNAL=8081
